<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
	<body>
		<center><h2>Welcome to aaaiiirrr Application</h2></center>
                <p>Welcome to our application, to set up your application please go this page location<br/>
                To see the pollution figures in your region go to the page admin</p>
                <a href="location" class="button">Location</a><a href="admin" class="button">Administration panel</a>
	</body>
</html>
