<html>
	<head>
		<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
                <link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
<body>
    <h1>Please enter here your location</h1>
    <form name="input" method="get">
        <input id="sendlocation" type="text" name="sendlocation" value="location"></input>
        <input id="sendlocation" type="submit" class='button' name="sendlocation" value="validate"></input>
    </form>
</html>
